*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:poppins, sans-serif;
    color: white;
}

html , body{
    height: 100%;
    width: 100%;
}

#cursor{
    height:20px;
    width:20px;
    background-color: #96c11e;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
#cursor-blur{
    height:300px;
    width:300px;
    background-color: #96c11e49;
    border-radius: 50%;
    position: fixed;
    filter: blur(50px);
    z-index:9 ;
}

#nav{
    height: 111px;
    width: 100%;
    /* background-color: red; */
    display: flex;         /*all elements in a row*/
    align-items: center;   /*vertically center*/
    padding:0 110px;
    justify-content: flex-start;  /*horizontally center*/
    gap: 40px;
    position: fixed;
    z-index: 99;
}

#nav img{
    height: 65px;
  
}

#nav h4{
    font-size: 15px;
    font-weight: 600;

    
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position:fixed;
    z-index: -1;
    
}

#main{
  background-color: rgba(0,0,0,0.40);
    position: relative;
}

#page1{
    height: 100vh;
    width: 100%; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;

}

#page1 h1{
    font-size: 110px;
    font-weight: 900;
    position: relative;
}

#page1 h1::before{
    content: "EAT. DRINK. PLAY";
    position: absolute;
    color: #000000;
    top: -5px;
    left: -3px;
    -webkit-text-stroke: 2px #95C11E;
    z-index: -1;    

}

#page1 h2{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 14px;
    margin-top: -10px;
}
#page1 p{
    font-size: 14px;
    font-weight: 300;
    width:40%;
    
}

#page2 {
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}

#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


#scroller h4{
    display: inline-block;
    font-size: 100px;
    font-weight: 800;
    font-family: gilroy, sans-serif;
    transition: all linear 0.4s;
    color: transparent;
    -webkit-text-stroke: 2px #95C11E;
}

#scroller h4:hover{
    color: #95C11E;
}

@keyframes scroll{
    from{
        transform:translateX(0) ;
    }
    to{
        transform:translateX(-100%)
    }
}

#about-us{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    padding: 0 110px ;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 10;
}

#about-us img{
    height: 160px;
    width: 160px;
    border-radius: 10px;
    object-fit: cover;
}

#about-us-in{
    width: 50%;
    text-align: center;
}

#about-us-in h3{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 15px;
}


#about-us-in p{
    font-size: 15px;
    line-height: 25px;
}

#cards-container{
    /* background-color: red; */
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    position: relative;
    z-index: 10;
}

.card{
    height:  80%;
    width: 24%;
    /* background-color: blue; */
   border-radius: 20px;
   background-size: cover;
   background-position: center;
   overflow: hidden;
    transition:all ease 0.6s;

}

#card1{
    background-image: url(assests/card1.avif);
}

#card2{
    background-image: url(assests/card2.webp);
}

#card3{
    background-image: url(assests/card3.avif);
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    padding: 30px;
    opacity: 0;
    transition:all ease 0.6s;
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
}

.overlay h4{
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    /* white-space: nowrap; */
    font-weight: 800;
    margin-bottom: 15px;
    padding-top: 60px;
   

}

.overlay p{
    color: black;
}

.card:hover .overlay{
    opacity: 1;
   
}

.card:hover{
    transform: rotate3d(-1,1,0,20deg) ;
}

#green-div{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:linear-gradient(to left bottom, #119f3a, #ace022);
    /* background-color: red; */
}

#green-div h4{
    width:40%;
    font-size: 25px;
    text-align: center;
    line-height: 45px;
    color: #000;
    text-transform: uppercase;
}

#green-div img{
    height: 100%;
    object-fit: cover;
    width: 15%;
}

#page3 {
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page3>p{
    font-size: 25px;
    font-weight: 800;
    width: 55%;
    text-align: center;
    line-height: 40px;
    text-align: center;
}

#page3 img{
    position: absolute;
    height: 50px;
}

#page3 #colon1{
    left: 20%;
    top: 25%;
}

#page3 #colon2{
    right: 20%;
    bottom: 25%;
}

#page4{
    height: 50vh;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
}

.elem{
    height: 60%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;

}
.elem h2{
    height: 100%;
    width: 100%;
    color: black;
    background-color: #95C11E;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
   position: absolute;
   z-index: 10 ;
    transition: all ease 0.5s;

}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
    scale: 1.1;
}

.elem:hover h2{
   color: white;
    background-color: transparent;
}
.elem:hover img{
   scale: 1;
}

#page4 h1{
    position: absolute;
   font-size: 90px;
   top:-3%;
   font-weight: 800;
   color: #000;
    -webkit-text-stroke: 2px #fff;
}

#footer {
  height: 40vh;
  width: 100%;
  background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6.5vw;
  padding: 0 100px;
}
#footer > img {
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 0;
}
#f1 img {
  height: 100px;
}
#f1,#f2,#f3,#f4 {
  width: fit-content;
  position: relative;
  z-index: 99;
  /* background-color: red; */
}
#f2 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  margin-bottom: 8px;
}

#f3 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 800;
  margin-bottom: 8px;
}
#f4 h4 {
  font-size: 1vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
}